@import 'styles/foundation';
@import 'styles/shared';

// Nav Code
nav {
  background-color: $c-darkTeal;

  .nav-wrapper {
    // display: grid;
    // grid-template-rows: auto auto;
    // gap: .5rem;
    // padding: .85rem 0 1rem;
    // align-items: center;
    // justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .75rem 0;

    img {
      height: 4rem;
      //margin: auto;

      @media (min-width: $bp-500) {
        height: 6.5rem;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-items: center;

      a {
        color: $c-paleBeige;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $c-orange;
        }
      }
    }
  }
}

.main {
  background: url(/images/img-fall-lake.jpg) no-repeat center bottom / cover;
  padding: 6vw 0 17vw;
  // background: url(/images/img-sunrise-lake.jpg) no-repeat center 40% / cover;
  // padding: 12vw 0;

  // * {
  //   color: $c-paleBeige;
  // }

  h2 {
    @extend %h3;
  }
}

.about {
  padding: 5vw 0;

  .about-wrapper {
    display: grid;

    p:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: $bp-800) {
      gap: 1.5rem;

      &::after {
        background: url(images/img-sunrise-lake.jpg) no-repeat center 35% / cover;
        content: '';
        display: block;
        width: 100%;
        height: 35vw;
        border-radius: 5px;
      }
    }

    @media (min-width: $bp-800) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;

      &::before {
        background: url(images/img-sunrise-lake.jpg) no-repeat center / cover;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }

      .about-content {
        padding: 2rem 0;
      }
    }
  }
}

.stats {
  padding: 3vw 0;
  background-color: $c-darkTeal;

  .stats-content {
    display: grid;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;

    .stat {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;

      .stat-emphasis {
        font-family: $f-heading;
        text-transform: uppercase;
        @extend %h1;
        color: $c-orange;
      }

      .stat-details {
        font-size: clamp(1.0125rem, 4vw + 1rem, 1.125rem);
        color: $c-paleBeige;
      }
    }

    @media (min-width: $bp-600) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      max-width: $bp-650;
      margin: auto;
    }

    @media (min-width: $bp-1000) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: .25rem;
      max-width: 100%;
    }
  }
}

.community {
  padding: 5vw 0;

  h2 {
    text-align: center;
  }


}