@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yeseva+One&display=swap");
body {
  font-size: clamp(0.85rem, 4vw, 1rem);
  font-family: "Josefin Sans", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Yeseva One", serif;
  margin: 0 0 1rem 0;
  line-height: 1;
  color: #25424c;
}

h1, .stats .stats-content .stat .stat-emphasis {
  font-size: clamp(2.25rem, 4vw, 3.5rem);
}

h2 {
  font-size: clamp(1.85rem, 4vw, 2.5rem);
}

h3, .main h2 {
  font-size: clamp(1.25rem, 4vw, 2rem);
}

h4 {
  font-size: clamp(1.125rem, 4vw, 1.5rem);
}

h5 {
  font-size: clamp(1.125rem, 4vw + 1rem, 1.25rem);
}

html {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  scroll-behavior: smooth;
  text-wrap: pretty;
}

body {
  margin: 0;
  padding: 0;
  color: #25424c;
  background-color: #fffef2;
}

.center {
  width: 90%;
  margin: auto;
  max-width: 75rem;
}

nav {
  background-color: #25424c;
}
nav .nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75rem 0;
}
nav .nav-wrapper img {
  height: 4rem;
}
@media (min-width: 31.25rem) {
  nav .nav-wrapper img {
    height: 6.5rem;
  }
}
nav .nav-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}
nav .nav-wrapper ul a {
  color: #fffef2;
  text-decoration: none;
}
nav .nav-wrapper ul a:hover, nav .nav-wrapper ul a:focus {
  color: #e56e38;
}

.main {
  background: url(/images/img-fall-lake.jpg) no-repeat center bottom/cover;
  padding: 6vw 0 17vw;
}
.about {
  padding: 5vw 0;
}
.about .about-wrapper {
  display: grid;
}
.about .about-wrapper p:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 50rem) {
  .about .about-wrapper {
    gap: 1.5rem;
  }
  .about .about-wrapper::after {
    background: url(images/img-sunrise-lake.jpg) no-repeat center 35%/cover;
    content: "";
    display: block;
    width: 100%;
    height: 35vw;
    border-radius: 5px;
  }
}
@media (min-width: 50rem) {
  .about .about-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .about .about-wrapper::before {
    background: url(images/img-sunrise-lake.jpg) no-repeat center/cover;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .about .about-wrapper .about-content {
    padding: 2rem 0;
  }
}

.stats {
  padding: 3vw 0;
  background-color: #25424c;
}
.stats .stats-content {
  display: grid;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
.stats .stats-content .stat {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.stats .stats-content .stat .stat-emphasis {
  font-family: "Yeseva One", serif;
  text-transform: uppercase;
  color: #e56e38;
}
.stats .stats-content .stat .stat-details {
  font-size: clamp(1.0125rem, 4vw + 1rem, 1.125rem);
  color: #fffef2;
}
@media (min-width: 37.5rem) {
  .stats .stats-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 40.626rem;
    margin: auto;
  }
}
@media (min-width: 62.5rem) {
  .stats .stats-content {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0.25rem;
    max-width: 100%;
  }
}

.community {
  padding: 5vw 0;
}
.community h2 {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */