@import 'foundation';

body {
  //font-size: 1rem;
  font-size: clamp(.85rem, 4vw, 1rem);
  font-family: $f-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $f-heading;
  margin: 0 0 1rem 0;
  line-height: 1;
  color: $c-darkTeal;
}

h1, %h1 {
  //font-size: 3.5rem;
  font-size: clamp(2.25rem, 4vw, 3.5rem);
}

h2, %h2 {
  //font-size: 2.5rem;
  font-size: clamp(1.85rem, 4vw, 2.5rem);
}

h3, %h3 {
  //font-size: 2rem;
  font-size: clamp(1.25rem, 4vw, 2rem);
}

h4, %h4 {
  //font-size: 1.5rem;
  font-size: clamp(1.125rem, 4vw, 1.5rem);
}

h5, %h5 {
  //font-size: 1.25rem;
  font-size: clamp(1.125rem, 4vw + 1rem, 1.25rem);
}

// Shared Code

html {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  scroll-behavior: smooth;
  text-wrap: pretty;
}

body {
  margin: 0;
  padding: 0;
  color: $c-darkTeal;
  background-color: $c-paleBeige;
}

.center {
  width: 90%;
  margin: auto;
  max-width: 75rem;
}